<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="p-5 mb-5 text-center</> bg-light">
        <h4 class="mb-3">공구해요!</h4>
    </div>
    <div>
        <a class="btn btn-secondary" id="menu-article" href="/articles">게시글 보러 가기</a>
        <a class="btn btn-secondary" id="menu-shop" href="/products">상품 보러 가기</a>
        <button type="button" class="btn btn-secondary" id="logout-btn" >로그아웃</button>
    </div>
    <a href="/articles"><h4 class="mb-3">공구해요!에 오신 것을 환영합니다.</h4></a>
</div>