<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공구해요</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
                    <div class="text-muted fst-italic mb-2" th:text="|등록 일시 ${#temporals.format(article.createDt,'yyyy-MM-dd HH:mm')}|"></div>
                </header>
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text="${article.content}"></p>
                </section>
                <button type="button" class="btn btn-primary btn-sm" id="modify-btn" th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">수정</button>
                <button type="button" class="btn btn-secondary btn-sm" id="delete-btn">삭제</button>
            </article>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
<script src="/js/article.js"></script>
<script src="/js/common.js"></script>
</body>
</html>